<form class="cs-card" *ngIf="match">
    <!-- <div class="cs-heading h1">
        {{label}}
    </div> -->
    <table class="cs-table">
        <thead>
            <tr>
                <th class="w-16">#</th>
                <th class="w-16">Op</th>
                <th class="w-16">Neer</th>
                <th class="w-24">Code</th>
                <th>Naam</th>
                <th class="w-32">Actie</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups; index as index">
                <td class="text-center">{{index + 1}}</td>
                <td>
                    <button *ngIf="index >= 1" class="cs-button" type="button" (click)="up(index)">&#x2191;</button>
                </td>
                <td>
                    <button *ngIf="index <= groups.length - 2" class="cs-button" type="button"
                        (click)="down(index)">&#x2193;</button>
                </td>
                <td>{{group.code}}</td>
                <td>{{group.label}}</td>
                <td>
                    <button class="cs-button danger w-32" (click)="deleteElement(index)">Verwijderen</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input [ngModelOptions]="{standalone: true}" class="cs-input-text" id="matchCode" type="text"
                        placeholder="Code" [(ngModel)]="newCode" autocomplete="off" spellcheck="false" autocorrect="off"
                        autocapitalize="off">
                </td>
                <td>
                    <input [ngModelOptions]="{standalone: true}" class="cs-input-text" id="matchCode" type="text"
                        placeholder="Naam" [(ngModel)]="newLabel" autocomplete="off" spellcheck="false"
                        autocorrect="off" autocapitalize="off">
                </td>
                <td>
                    <button (click)="addElement()" class="cs-button w-32">Toevoegen</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>