<ng-container *ngIf="entry">
    <div class="modal-dialog-header">
        <div class="cs-heading h2 flex-grow" *ngIf="entry.id <= 0">Nieuw PR</div>
        <div class="cs-heading h2 flex-grow" *ngIf="entry.id > 0">PR aanpassen</div>
        <button (click)="close()" type="button" class="close-button">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>

    <div class="cs-input-block">
        <label for="a01">
            Schutter
        </label>
        <app-input-member-from-list id="a01" [listId]="listId" [participantId]="entry.participant.id || -1"
            (selected)="participantSelected($event)"></app-input-member-from-list>
    </div>

    <div class="cs-input-block">
        <label for="ruleset">
            Discipline
        </label>
        <select id="ruleset" title="Kies een discipline" #rulesetSelect [(ngModel)]="entry.discipline"
            [ngModelOptions]="{standalone: true}" class="cs-input" placeholder="Kies een discipline">
            <option *ngFor="let c of disciplines" [ngValue]="c">{{c}}</option>
        </select>
    </div>

    <div class="cs-input-block">
        <label for="a02">
            Behaald op (YYYY-MM-DD)
        </label>
        <!-- <input [ngModelOptions]="{standalone: true}" class="cs-input-text" id="a02" type="text"
            placeholder="Behaald op" [(ngModel)]="entry.achieved"> -->
        <dp-date-picker class="cs-input w-full h-full bg-white p-0" mode="day" [(ngModel)]="entry.achieved"
            placeholder="Kies een datum..." [config]="{ format: 'YYYY-MM-DD', firstDayOfWeek: 'mo'}"></dp-date-picker>
    </div>

    <div class="cs-input-block">
        <label for="a03">
            Opmerkingen
        </label>
        <input [ngModelOptions]="{standalone: true}" class="cs-input-text" id="a03" type="text"
            placeholder="Opmerkingen" [(ngModel)]="entry.notes">
    </div>

    <div class="cs-input-block">
        <label for="a04">
            Score
        </label>
        <input [ngModelOptions]="{standalone: true}" class="cs-input-text" id="a04" type="text"
            placeholder="Naam van de lijst" [(ngModel)]="entry.score">
    </div>

    <div class="cs-action-block" *ngIf="authorizationService.user$ | async">
        <div>
            <div class="cs-action-bar">
                <ul>
                    <li *ngIf="entry.id > 0">
                        <button (click)="deleteModel()" class="cs-button danger"
                            aria-current="page">Verwijderen</button>
                    </li>
                    <li class="flex-grow"></li>
                    <li *ngIf="entry.id > 0">
                        <button (click)="saveModel()" class="cs-button default" aria-current="page">Opslaan</button>
                    </li>
                    <li *ngIf="entry.id <= 0">
                        <button (click)="saveModel()" class="cs-button" aria-current="page"
                            [disabled]="!(entry.discipline && entry.score && entry.achieved && entry.achieved.length == 10 && entry.score > 0)"
                            [ngClass]="{'green': entry.discipline && entry.score && entry.achieved && entry.achieved.length == 10 && entry.score > 0, 
                                'disabled': !(entry.discipline && entry.score && entry.achieved && entry.achieved.length == 10 && entry.score > 0)
                            }">Toevoegen</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>