<ng-container *ngIf="participant; else noParticipant">
    <div class="modal-dialog-header">
        <div class="cs-heading h2 flex-grow">{{participant.name}} koppelen aan {{participantsList?.name}}</div>
        <button (click)="close()" type="button" class="close-button">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>

    <div class="cs-card">
        <div class="cs-heading h3 flex-grow">Best passende namen:</div>

        <div class="cs-member-box cs-member-buttons" *ngIf="matches && matches.length; else noMatches">
            <div *ngFor="let match of matches">
                <button (click)="selectMember(match)" class="cs-button">{{match.name}}</button>
            </div>
        </div>
        <ng-template #noMatches>
            <div>Kon geen soortgelijke namen in de lijst vinden.</div>
        </ng-template>
    </div>

    <div class="cs-card">
        <div class="cs-heading h3 flex-grow">Of kies uit de volledige lijst:</div>

        <div class="cs-input-block" *ngIf="this.competition && this.competition.participantsList">
            <app-input-member-from-list id="a01" [listId]="this.competition.participantsList.id"
                [participantId]="selectedParticipandId"
                (selected)="participantSelected($event)"></app-input-member-from-list>
        </div>
    </div>

    <div class="cs-action-block">
        <div>
            <div class="cs-action-bar">
                <ul>
                    <li>
                        <button *ngIf="selectedParticipant" (click)="selectMember(selectedParticipant)" class="cs-button default" aria-current="page">Opslaan</button>
                        <button *ngIf="!selectedParticipant" (click)="close()" class="cs-button default" aria-current="page">Sluiten</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #noParticipant>
    <div class="modal-dialog-header">
        <div class="cs-heading h2 flex-grow">Gegevens koppelen...</div>
        <button (click)="close()" type="button" class="close-button">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>

    <div class="cs-card">
        <div class="cs-heading h3">Geen gegevens geladen...</div>
    </div>

    <div class="cs-action-block">
        <div>
            <div class="cs-action-bar">
                <ul>
                    <li>
                        <button (click)="close()" class="cs-button default" aria-current="page">Afsluiten</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>