<div class="relative">
    <a class="cs-button flex flex-row w-48" (isMenuOpen)="toggleVisible(!!$event)" appDropdown>{{label}}&nbsp;<svg class="inline w-5 h-5 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg></a>
      <div class="dropdown-menu" [ngClass]="visibilityClasses">
        <div class="dropdown-menu-visual bg-black overflow-overlay p-4">
            <ng-content></ng-content>
        </div>
      </div>
  </div>