<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <ul>
                <app-control-up-button></app-control-up-button>
            </ul>
        </div>
    </div>
</nav>

<div class="cs-card error" *ngIf="errorMessage">
    <div class="cs-heading h1">Er is iets niet goed gegaan...</div>
    <p>{{errorMessage}}</p>
</div>

<div class="cs-card">
    <table class="cs-table">
        <thead>
            <tr>
                <th>Actief?</th>
                <th>Datum</th>
                <th>Naam</th>
                <th>Competitie</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of matches">
                <td class="w-16 text-center"><span *ngIf="match.isActiveMatch">&#x2714;</span></td>
                <td class="w-32 cursor-pointer" [routerLink]="[match.id]">{{match.matchCode}}</td>
                <td class="cursor-pointer flex-grow" [routerLink]="[match.id]">{{match.matchName}}</td>
                <td class="cursor-pointer w-64 overflow-x-hidden" [routerLink]="[match.id]">{{match.competition.name}}</td>
                <td class="dropdown-row">
                    <app-control-dropdown-button>
                        <button [routerLink]="[match.id]" class="cs-button">Open
                            wedstrijd</button>
                        <button [routerLink]="[match.id,'results']" class="cs-button">Wedstrijd
                            uitslagen</button>
                    </app-control-dropdown-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>