<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <ul>
                <app-control-up-button></app-control-up-button>
                <li>
                    <button (click)="newParticipantsList()" class="cs-button" aria-current="page" *ngIf="authorizationService.user$ | async">Nieuwe lijst
                        maken</button>
                </li>    
                <li>
                    @if (showInactive) {
                    <button (click)="toggleInactive()" class="cs-button secondary" aria-current="page" *ngIf="authorizationService.user$ | async">Inactieve lijsten 
                        verbergen</button>
                    } @else {
                    <button (click)="toggleInactive()" class="cs-button" aria-current="page" *ngIf="authorizationService.user$ | async">Inactieve lijsten 
                        tonen</button>
                    }
                </li>                                       
            </ul>
        </div>
    </div>
</nav>

<app-error (onClose)="this.errorMessage = ''" [error]="errorMessage"></app-error>

<form class="cs-modal-dialog" [ngClass]="{'modal-dialog-open': selectedList, 'modal-dialog-closed': !selectedList}">
    <div *ngIf="selectedList">
        <app-edit-participants-list-metadata [listId]="selectedList.id" (onError)="editListMetadataError($event)"
            (onClose)="editListMetadataClose()"></app-edit-participants-list-metadata>
    </div>
</form>

<div class="cs-card">
    <table class="cs-table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let participantsList of participantsLists" [ngClass]="{ 'bg-slate-300': participantsList.isInactive }">
                <td class="cursor-pointer" [routerLink]="[participantsList.id]">
                    {{participantsList.name}}</td>
                <td class="dropdown-row">
                    <app-control-dropdown-button>
                        <button [routerLink]="[participantsList.id]" class="cs-button">Lijst
                            openen</button>
                        <button (click)="editParticipantsList(participantsList)" class="cs-button" *ngIf="authorizationService.user$ | async">Lijst
                            aanpassen</button>
                    </app-control-dropdown-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>