<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <app-control-up-button></app-control-up-button>
            <ul>
                <li *ngIf="authorizationService.user$ | async">
                    <button (click)="newCompetition()" class="cs-button" aria-current="page">Nieuwe competitie</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="cs-card error" *ngIf="errorMessage">
    <div class="cs-heading h1">Er is iets niet goed gegaan...</div>
    <p>{{errorMessage}}</p>
</div>

<form class="cs-modal-dialog"
    [ngClass]="{'modal-dialog-open': selectedCompetition, 'modal-dialog-closed': !selectedCompetition}">
    <div *ngIf="selectedCompetition">
        <app-edit-competition-metadata [competitionId]="selectedCompetition.id" (onError)="onError($event)"
            (onClose)="onClose()"></app-edit-competition-metadata>
    </div>
</form>

<div class="cs-card">
    <table class="cs-table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Begint</th>
                <th>Eindigt</th>
                <th>Deelnemers</th>
                <th>Regels</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let competition of competitions">
                <td class="flex-grow  cursor-pointer" [routerLink]="[competition.id]">
                    {{competition.name}}</td>
                <td class="w-24">{{competition.startDate}}</td>
                <td class="w-24">{{competition.endDate}}</td>
                <td class="w-40">{{(competition.participantsList && competition.participantsList.id > 0) ?
                    competition.participantsList!.name : '-'}}</td>
                <td class="w-40">{{competition.rulesetGroupName}}</td>
                <td class="dropdown-row">
                    <app-control-dropdown-button>
                        <button [routerLink]="[competition.id]"
                            class="cs-button">Wedstrijden</button>
                        <button [routerLink]="[competition.id, 'results']" class="cs-button">Bekijk
                            uitslagen</button>
                        <button *ngIf="competition.participantsList && competition.participantsList.id > 0"
                            [routerLink]="[competition.id, 'participantlists', competition.participantsList!.id]"
                            class="cs-button">Deelnemerslijst</button>
                        <button (click)="openProperties(competition)" class="cs-button" *ngIf="authorizationService.user$ | async">Competitie aanpassen</button>
                    </app-control-dropdown-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>