<ng-container *ngIf="list">
    <div class="modal-dialog-header">
        <div class="cs-heading h2 flex-grow" *ngIf="list.id <= 0">Nieuwe lijst</div>
        <div class="cs-heading h2 flex-grow" *ngIf="list.id > 0">Lijst aanpassen</div>
        <button (click)="close()" type="button" class="close-button">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>

    <div class="cs-input-block">
        <label for="listName">
            Naam
        </label>
        <input [ngModelOptions]="{standalone: true}" class="cs-input-text" id="listName" type="text"
            placeholder="Naam van de lijst" [(ngModel)]="list.name">
    </div>

    <div class="cs-input-block">
        <label for="theControl">
            Type competitie
        </label>
        <select id="ruleset" title="Kies een type wedstrijd" #rulesetSelect
            (change)="rulsetChanged($event, rulesetSelect.value)" [(ngModel)]="list.competitionFormat"
            [ngModelOptions]="{standalone: true}" class="cs-input" placeholder="Kies een competitie-type">
            <option *ngFor="let c of rulesets" [ngValue]="c">{{c}}</option>
        </select>
    </div>

    <div class="cs-action-block">
        <div>
            <div class="cs-action-bar">
                <ul>
                    <li *ngIf="list.id > 0">
                        <button (click)="deleteModel()" class="cs-button danger"
                            aria-current="page">Verwijderen</button>
                    </li>
                    <li class="flex-grow"></li>
                    <li *ngIf="list.id > 0">
                        <button (click)="saveModel()" class="cs-button default" aria-current="page">Opslaan</button>
                    </li>
                    <li *ngIf="list.id <= 0">
                        <button (click)="saveModel()" class="cs-button" aria-current="page"
                            [disabled]="!(list.name && list.competitionFormat)"
                            [ngClass]="{'green': list.name && list.competitionFormat, 
                                'disabled': !(list.name && list.competitionFormat)
                            }">Toevoegen</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>