<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <ul>
                <li *ngIf="!error && id >= 0 && match">
                    <a [routerLink]="['/', 'result', id]" class="cs-button" aria-current="page">Uitslagen</a>
                </li>
                <!-- <li>
                    <button (click)="openProperties()" *ngIf="match" class="cs-button">Eigenschappen</button>
                </li> -->
                <li>
                    <button (click)="newParticipant()" *ngIf="match" class="cs-button">Deelnemer toevoegen</button>
                </li>
            </ul>
        </div>
        <div class="navbar-default" *ngIf="!error">
            <ul>
                <li><button (click)="setActive(true)" *ngIf="!(match?.isActiveMatch)" class="cs-button">Stel in als
                        actieve wedstrijd</button>
                </li>
                <li>
                    <button (click)="setActive(false)" *ngIf="match?.isActiveMatch" class="cs-button">Deactiveer
                        wedstrijd</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="cs-card error" *ngIf="error">
    <div class="cs-heading h1">Er is iets niet goed gegaan...</div>
    <p>{{error}}</p>
</div>

<form class="cs-card modal" [ngClass]="{'form-open': matchForProperties, 'form-closed': !matchForProperties}">
    <div *ngIf="matchForProperties">
        <app-edit-match-metadata [competitionId]="competitionId" [matchId]="matchForProperties!.id"
            (onError)="editMatchError($event)" (onClose)="editMatchClose()"></app-edit-match-metadata>
    </div>
</form>

<form class="cs-card modal" [ngClass]="{'form-open': participantForProperties, 'form-closed': !participantForProperties}">
    <div *ngIf="participantForProperties && match">
        <app-edit-participant-scoresheet [matchId]="match.id" [participantId]="participantForProperties.id"
            (onError)="editParticipantError($event)" (onClose)="editParticipantClose()"></app-edit-participant-scoresheet>
    </div>
</form>

<div class="cs-card" *ngIf="participants">
    <div class="cs-heading h1">Deelnemers</div>

    <table class="cs-table">
        <thead>
            <tr>
                <th class="flex-grow">Naam</th>
                <th class="w-48">Discipline</th>
                <th class="w-48">Klasse</th>
                <th class="w-48">Device</th>
                <th class="w-16">Lijn</th>
                <th class="w-16 text-right">Score</th>
                <th class="w-48">Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let participant of participants" class="hover:bg-slate-300">
                <td class="flex-grow cursor-pointer" (click)="editParticipant(participant)">{{participant.name}}</td>
                <td class="w-48 cursor-pointer" (click)="editParticipant(participant)">{{participant.groupName}}</td>
                <td class="w-48 cursor-pointer" (click)="editParticipant(participant)">{{participant.subgroupName}}</td>
                <td class="w-48 cursor-pointer text-xs" (click)="editParticipant(participant)">{{participant.deviceID}}</td>
                <td class="w-16 cursor-pointer" (click)="editParticipant(participant)">{{participant.lijn}}</td>
                <td class="w-16 text-right cursor-pointer" (click)="editParticipant(participant)">{{participant.score}}</td>
                <td class="w-32"><app-control-dropdown-button><button (click)="editParticipant(participant)" class="cs-button">Eigenschappen</button></app-control-dropdown-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>