<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <ul>
                <li>
                    <button (click)="refresh()" class="cs-button" aria-current="page">Ververs</button>
                </li>
                <li><button (click)="setActive(true)" *ngIf="!(match?.isActiveMatch)" class="cs-button">Stel in als
                        actieve wedstrijd</button>
                </li>
                <li>
                    <button (click)="setActive(false)" *ngIf="match?.isActiveMatch" class="cs-button">Deactiveer
                        wedstrijd</button>
                </li>
                <li *ngIf="!error && id >= 0 && match">
                    <a [routerLink]="['/', 'result', id]" class="cs-button" aria-current="page">Uitslagen</a>
                </li>
            </ul>
        </div>
        <div class="navbar-default" *ngIf="!error">
            <ul>
                <li *ngIf="match && id >= 0">
                    <button (click)="delete()" class="cs-button red">Verwijder</button>
                </li>
                <li>
                    <button class="cs-button" type="button" (click)="save()">
                        {{id == -1 ? 'Aanmaken' : 'Wijzigingen opslaan'}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="cs-card error" *ngIf="error">
    <div class="cs-heading h1">Er is iets niet goed gegaan...</div>
    <p>{{error}}</p>
</div>

<form class="cs-card" *ngIf="!error && (!match || id == -1)">
    <div class="cs-heading h1">Wedstrijd template toepassen</div>
    <div class="cs-input-block">
        <label for="matchCode">
            Type wedstrijd
        </label>
        <select id="template" title="Kies een type wedstrijd" #matchTemplate
            (change)="matchTypeChanged($event, matchTemplate.value)" [(ngModel)]="selectedTemplate"
            [ngModelOptions]="{standalone: true}"
            class="cs-input-text"
            placeholder="Kies een type wedstrijd">
            <option *ngFor="let c of templates" [ngValue]="c">{{c.name}}</option>
        </select>
    </div>
</form>

<form class="cs-card" *ngIf="!error && match">
    <div class="cs-heading h1">Basisgegevens</div>
    <div class="cs-input-block">
        <label for="matchCode">
            Code
        </label>
        <input [ngModelOptions]="{standalone: true}"
            class="cs-input-text"
            id="matchCode" type="text" placeholder="Geef een korte (unieke) code op voor de wedstrijd"
            [(ngModel)]="match!.matchCode">
    </div>
    <div class="cs-input-block">
        <label for="matchName">
            Naam van de wedstrijd
        </label>
        <input [ngModelOptions]="{standalone: true}"
            class="cs-input-text"
            id="matchName" type="text" placeholder="Volledige naam van de wedstrijd" [(ngModel)]="match!.matchName">
    </div>
    <div class="cs-input-block">
        <label for="arrowsPerEnd">
            Pijlen per ronde
        </label>
        <input [ngModelOptions]="{standalone: true}"
            class="cs-input-text"
            id="arrowsPerEnd" type="number" placeholder="Aantal pijlen dat per ronde wordt geschoten"
            [(ngModel)]="match!.arrowsPerEnd">
    </div>
    <div class="cs-input-block">
        <label for="numberOfEnds">
            Aantal tellende rondes
        </label>
        <input [ngModelOptions]="{standalone: true}"
            class="cs-input-text"
            id="numberOfEnds" type="number" placeholder="Aantal tellende rondes" [(ngModel)]="match!.numberOfEnds">
    </div>
    <div class="cs-input-block">
        <label for="lijnenAsString">
            Lijnen (bijvoorbeeld ABCD)
        </label>
        <input [ngModelOptions]="{standalone: true}"
            class="cs-input-text"
            id="lijnenAsString" type="text" placeholder="Lijnen (bijvoorbeeld ABCD)"
            [(ngModel)]="match!.lijnenAsString">
    </div>
</form>

<app-groups-editor [match]="match" label="Disciplines" [groups]="match?.groups || []"></app-groups-editor>
<app-groups-editor [match]="match" label="Klasses" [groups]="match?.subgroups || []"></app-groups-editor>
<app-groups-editor [match]="match" label="Blazoenen" [groups]="match?.targets || []"></app-groups-editor>

<div class="cs-card" *ngIf="match">
    <h3 class="mt-4 text-xl font-bold">Toetsenborden</h3>
    <div class="columns-3">
        <ng-container *ngFor="let x of match.scoreValues | keys">
            <div class="break-inside-avoid mb-4">
                <h4 class="text-l font-bold" *ngIf="x === ''">standaard</h4>
                <h4 class="text-l font-bold" *ngIf="x !== ''">{{x}}</h4>
                <ul>
                    <li *ngFor="let s of match.scoreValues[x]">
                        '{{s.label}}' => '{{s.value}}'
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</div>