<ng-container *ngIf="!print; else printTemplate">
    <nav class="cs-page-header">
        <div>
            <div class="navbar-default">
                <ul>
                    <app-control-up-button></app-control-up-button>
                    <li>
                        <button [routerLink]="[]" [queryParams]="{print: true}" class="cs-button"
                            aria-current="page">Afdrukken</button>
                    </li>
                    <li>
                        <button (click)="new()" class="cs-button" aria-current="page">Nieuwe PR catgeorie</button>
                    </li>
                    <li>
                        <button [routerLink]="['..', 'personalbest']" class="cs-button" aria-current="page">Nieuwe PRs
                            berekenen</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="cs-card error" *ngIf="errorMessage">
        <div class="cs-heading h1">Er is iets niet goed gegaan...</div>
        <p>{{errorMessage}}</p>
    </div>

    <form class="cs-modal-dialog"
        [ngClass]="{'modal-dialog-open': pbListId !== 0, 'modal-dialog-closed': pbListId === 0}">
        <div *ngIf="pbListId !== 0">
            <app-edit-personal-best-list-metadata [listId]="listId" [pbListId]="pbListId"
                (onError)="editListMetadataError($event)"
                (onClose)="editListMetadataClose()"></app-edit-personal-best-list-metadata>
        </div>
    </form>

    <div class="cs-card">
        <table class="cs-table">
            <thead>
                <tr>
                    <th class="flex-grow">Naam</th>
                    <th class="w-64">Type wedstrijd</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let part of personalBestLists">
                    <td class="flex-grow cursor-pointer" [routerLink]="[ part.id ]">{{part.name}}</td>
                    <td class="w-64 cursor-pointer" [routerLink]="[ part.id ]">{{part.competitionFormat}}</td>
                    <td class="dropdown-row">
                        <app-control-dropdown-button>
                            <button [routerLink]="[ part.id ]" class="cs-button">Gegevens
                                aanpassen</button>
                            <button (click)="select(part)" class="cs-button">Gegevens
                                aanpassen</button>
                        </app-control-dropdown-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

<ng-template #printTemplate>
    <nav class="cs-page-header">
        <div>
            <div class="navbar-default">
                <ul>
                    <li>
                        <button [routerLink]="[]" [queryParams]="{print: false}" class="cs-button"
                            aria-current="page">Terug</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <ng-container *ngFor="let category of personalBestLists">
        <div class="cs-results-page mt-2" *ngIf="(category.entriesByDiscipline | keys).length">
            <ng-container *ngFor="let discipline of category.entriesByDiscipline | keys">
                <div class="results-content">
                    <div class="cs-results-card">
                        <div class="cs-heading h1 my-4">{{discipline}} {{category.name}}</div>
                        <table class="cs-table">
                            <thead>
                                <tr>
                                    <th class="text-left">Naam</th>
                                    <th class="text-left">Datum</th>
                                    <th class="text-right">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of category.entriesByDiscipline[discipline]">
                                    <td class="flex-grow w-full text-left">{{entry.participant.name}}</td>
                                    <td class="max-w-24 min-w-24 w-24 text-left">{{entry.achieved}}</td>
                                    <td class="max-w-16 min-w-16 w-16 text-right">{{entry.score}}</td>
                                </tr>                                                                                                                                                                                                                                                                                                                                                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>

        </div>
    </ng-container>

</ng-template>