.cs-page-header {
    @media print {
        display: none;
    }
}

.cs-results-page {
    @media print {
        page-break-after: always;
    }

    th {

      &.header {
        @apply text-accentbfg bg-accentb;
      }
    }

    td {
      @apply leading-3;
      i {
        color: #555;
      }

      &.header {
        @apply text-accentbfg-200 bg-accentb;
      }
    }      
}

@media print {
    .cs-heading {
      @apply block text-lg font-bold mb-2;
    
      &.h1 {
        font-size: 13pt !important;
        font-weight: bold;
      }
    
      &.h2 {
        font-size: 12pt !important;
        font-weight: bold;
      }
    
      &.h3 {
        font-size: 11pt !important;
        font-weight: bold;
      }
    }
  
    th {
      font-size: 10pt !important;

      &.header {
        @apply text-accentbfg bg-accentb;
      }
    }
  
    td {

      font-size: 9pt !important;

      i {
        font-size: 8pt !important;
      }
    }  

    .cs-results-card-pbl {
      @apply m-0 mb-2 p-0 w-full;
    }
  }