<ng-container *ngIf="!print; else printTemplate">
    <nav class="cs-page-header">
        <div>
            <div class="navbar-default">
                <ul>
                    <app-control-up-button></app-control-up-button>
                    <li>
                        <button [routerLink]="[]" [queryParams]="{print: true}" class="cs-button"
                            aria-current="page">Afdrukken</button>
                    </li>
                    <li>
                        <button (click)="new()" class="cs-button" aria-current="page">Nieuwe PR catgeorie</button>
                    </li>
                    <li>
                        <button [routerLink]="['..', 'personalbest']" class="cs-button" aria-current="page">Nieuwe PRs
                            berekenen</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="cs-card error" *ngIf="errorMessage">
        <div class="cs-heading h1">Er is iets niet goed gegaan...</div>
        <p>{{errorMessage}}</p>
    </div>

    <form class="cs-modal-dialog"
        [ngClass]="{'modal-dialog-open': pbListId !== 0, 'modal-dialog-closed': pbListId === 0}">
        <div *ngIf="pbListId !== 0">
            <app-edit-personal-best-list-metadata [listId]="listId" [pbListId]="pbListId"
                (onError)="editListMetadataError($event)"
                (onClose)="editListMetadataClose()"></app-edit-personal-best-list-metadata>
        </div>
    </form>

    <div class="cs-card">
        <table class="cs-table">
            <thead>
                <tr>
                    <th class="flex-grow">Naam</th>
                    <th class="w-64">Type wedstrijd</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let part of personalBestLists">
                    <td class="flex-grow cursor-pointer" [routerLink]="[ part.id ]">{{part.name}}</td>
                    <td class="w-64 cursor-pointer" [routerLink]="[ part.id ]">{{part.competitionFormat}}</td>
                    <td class="dropdown-row">
                        <app-control-dropdown-button>
                            <button [routerLink]="[ part.id ]" class="cs-button">Gegevens
                                aanpassen</button>
                            <button (click)="select(part)" class="cs-button">Gegevens
                                aanpassen</button>
                        </app-control-dropdown-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

<ng-template #printTemplate>
    <nav class="cs-page-header">
        <div>
            <div class="navbar-default">
                <ul>
                    <li>
                        <button [routerLink]="[]" [queryParams]="{print: false}" class="cs-button"
                            aria-current="page">Terug</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <ng-container *ngFor="let discipline of indexByDisciplineThenArcher | keys">
        <div class="cs-results-page" *ngIf="indexByDisciplineThenArcher[discipline].length">
            <div class="cs-results-card-pbl">
                <table class="cs-table">
                    <thead>
                        <tr>
                            <th [attr.colspan]="personalBestLists.length + 1" class="text-center header">{{discipline}}
                            </th>
                        </tr>
                        <tr>
                            <th class="text-left">Naam</th>
                            @for (pbl of personalBestLists; track pbl) {
                            <th class="w-24">{{pbl.name}}</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (entry of indexByDisciplineThenArcher[discipline]; track entry) {
                        <tr>
                            <td>{{entry.participant.name}}</td>
                            @for (score of entry.scores; track score) {
                            <td class="w-24 text-center leading-3"><span *ngIf="score.when">{{score.score}}<br /><i
                                        class="text-xs">{{score.when}}</i></span></td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>

    <div class="cs-results-page">
        <div class="cs-results-card-pbl">
            <table class="cs-table">
                <!-- <thead>
                    <tr>
                        <th class="text-left">Discipline</th>
                        <th class="text-left">Datum</th>
                        <th class="text-right">Score</th>
                        <th class="text-left px-4">Naam</th>
                    </tr>
                </thead> -->
                <tbody>
                    <ng-container *ngFor="let category of personalBestLists">
                        <tr>
                            <td colspan="5" class="text-center header h-8">Clubrecords {{category.name}}</td>
                        </tr>
                        <ng-container *ngFor="let discipline of category.entriesByDiscipline | keys">
                            <tr *ngFor="let entry of category.entriesByDiscipline[discipline] | onlytopscore">
                                <td class="w-32  text-left">{{discipline}}</td>
                                <td class="max-w-24 min-w-24 w-24 text-left">{{entry.achieved}}</td>
                                <td class="max-w-16 min-w-16 w-16 text-right">{{entry.score}}</td>
                                <td class="h-7 flex-grow text-left"><div class="px-4">{{entry.participant.name}}</div></td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</ng-template>