<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <ul>
                <li>
                    <a [routerLink]="['/', 'edit', '-1' ]"
                        class="cs-button"
                        aria-current="page">Nieuwe wedstrijd maken</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="cs-card">
    <table class="cs-table">
        <thead>
            <tr>
                <th>Actief?</th>
                <th>Code</th>
                <th>Naam</th>
                <th>Lijnen</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of matches" [routerLink]="['/','edit',match.id]" class="hover:bg-slate-300 cursor-pointer">
                <td class="w-16 text-center"><span *ngIf="match.isActiveMatch">&#x2714;</span></td>
                <td class="w-32">{{match.matchCode}}</td>
                <td>{{match.matchName}}</td>
                <td class="w-40">{{match.lijnen.join()}}</td>
                <td class="w-16"><a [routerLink]="['/','edit',match.id]"
                    class="cs-button">Open</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>