<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <ul>
                <app-control-up-button></app-control-up-button>
            </ul>
        </div>
    </div>
</nav>

<div class="cs-card error" *ngIf="errorMessage">
    <div class="cs-heading h1">Er is iets niet goed gegaan...</div>
    <p>{{errorMessage}}</p>
</div>

<div class="cs-card " *ngIf="loading">
    <div class="cs-heading h1 flex flex-row"><svg aria-hidden="true" class="inline-block w-8 h-8 me-4 text-accenta animate-spin fill-accentb"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg> <div class="inline-block flex-grow">Bezig met rekenen...</div>
    </div>
    <p>Het systeem loopt voor elke schutter alle wedstrijden in alle competities na om te kijken of er een PR verbeterd
        is. Dit kan even duren.</p>
</div>

<form class="cs-modal-dialog" [ngClass]="{'modal-dialog-open': showRecord, 'modal-dialog-closed': !showRecord}"
    *ngIf="authorizationService.user$ | async">
    <div *ngIf="showRecord">
        <div>{{showRecord.participant.name}}</div>
        <!-- <app-edit-personal-best-list-metadata [listId]="listId" [pbListId]="pbListId" (onError)="editListMetadataError($event)"
            (onClose)="editListMetadataClose()"></app-edit-personal-best-list-metadata> -->
    </div>
</form>

<ng-container *ngIf="!loading">
    <div class="cs-card" *ngIf="authorizationService.user$ | async">
        <table class="cs-table">
            <thead>
                <tr>
                    <th class="flex-grow text-left">Schutter</th>
                    <th class="flex-grow text-left">Oud record</th>
                    <th class="flex-grow text-left">Nieuw record</th>
                    <th class="flex-grow text-left">Discipline</th>
                    <th class="flex-grow text-left">Datum</th>
                    <th class="flex-grow text-left">Informatie</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suggestion of suggestions">
                    <td class="flex-grow">{{suggestion.participant.name}}</td>
                    <td class="flex-grow">{{suggestion.previousScore}}</td>
                    <td class="flex-grow">{{suggestion.score}}</td>
                    <td class="flex-grow">{{suggestion.discipline}}</td>
                    <td class="flex-grow">{{suggestion.achieved}}</td>
                    <td class="w-96">
                        <div class="flex flex-row flex-wrap">
                            <div class="entry"><span class="slabel">Record lijst:</span> <span
                                    class="svalue">{{suggestion.listId | getPbListName:personalBestLists}}</span></div>
                            <div class="entry"><span class="slabel">Wedstrijd:</span> <span
                                    class="svalue">{{suggestion.match.matchCode}} -
                                    {{suggestion.match.matchName}}</span>
                            </div>
                            <div class="entry"><span class="slabel">Competitie:</span> <span
                                    class="svalue">{{suggestion.competition.name}}
                                    ({{suggestion.competition.startDate}}-{{suggestion.competition.endDate}})</span>
                            </div>
                        </div>
                    </td>
                    <td class="dropdown-row">
                        <app-control-dropdown-button>
                            <button (click)="select(suggestion)" class="cs-button"
                                *ngIf="authorizationService.user$ | async">Opnemen in lijst</button>
                        </app-control-dropdown-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>