<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <ul>
                <app-control-up-button></app-control-up-button>
                <li>
                    <button (click)="new()" class="cs-button" aria-current="page"
                        *ngIf="authorizationService.user$ | async">Nieuwe schutter
                        toevoegen</button>
                </li>
                <li>
                    <button (click)="editListMetadataOpen()" class="cs-button" aria-current="page"
                        *ngIf="authorizationService.user$ | async">Lijst
                        aanpassen</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<app-error (onClose)="this.errorMessage = ''" [error]="errorMessage"></app-error>

<form class="cs-modal-dialog"
    [ngClass]="{'modal-dialog-open': metadataEditorModel, 'modal-dialog-closed': !metadataEditorModel}">
    <div *ngIf="metadataEditorModel">
        <app-edit-participants-list-metadata [listId]="metadataEditorModel.id" (onError)="editListMetadataError($event)"
            (onClose)="editListMetadataClose()"></app-edit-participants-list-metadata>
    </div>
</form>

<form class="cs-modal-dialog" [ngClass]="{'modal-dialog-open': editorOpen, 'modal-dialog-closed': !editorOpen}">
    <div>
        <app-edit-participant-list-entry [listId]="listId" [participant]="participant" (save)="save()"
            (close)="close()"></app-edit-participant-list-entry>
    </div>
</form>

<div class="cs-card">
    <table class="cs-table">
        <thead>
            <tr>
                <th>Naam</th>
                <th class="w-24">Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let part of participants">
                <td class="flex-grow" (click)="select(part)" class="cursor-pointer">{{part.name}}</td>
                <td class="dropdown-row">
                    <app-control-dropdown-button>
                        <button (click)="select(part)" class="cs-button">Gegevens
                            aanpassen</button>
                    </app-control-dropdown-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>