<nav class="cs-application-header">
    <div>
        <a [routerLink]="['/']" class="logo">
            <div><img src="assets/centaur.svg" alt="Logo" /></div>
            <span class="navbar-title">{{title}}</span>
        </a>
        <div class="navbar-default">
            <ul>

                <li>
                    <a [routerLink]="['/matches' ]" class="top-link" aria-current="page">Wedstrijden</a>
                </li>
                <li>
                    <a [routerLink]="['/competitions' ]" class="top-link" aria-current="page">Competities</a>
                </li>                
                <li>
                    <a [routerLink]="['/participantlists' ]" class="top-link" aria-current="page">Lijsten</a>
                </li>                
                <li>
                    <a [routerLink]="['/', 'matches', -1, 'results' ]" class="top-link" aria-current="page">Live uitslagen</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page"><router-outlet /></div>