<nav class="cs-application-header">
    <div>
        <a [routerLink]="['/']" class="logo">
            <div><img src="assets/centaur.svg" alt="Logo" /></div>
            <span>Centaur scores</span>
        </a>
        <div class="navbar-default">
            <ul>
                <li>
                    <a [routerLink]="['/' ]" class="top-link" aria-current="page">Wedstrijden</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'result', -1 ]" class="top-link" aria-current="page">Live uitslagen</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page"><router-outlet /></div>