<nav class="cs-page-header">
    <div>
        <div class="navbar-default">
            <ul>
                <li>
                    <button (click)="newMatch()" class="cs-button" aria-current="page">Wedstrijd toevoegen</button>
                </li>
                <li *ngIf="competition && competition.id >= 0">
                    <button [routerLink]="['/', 'competitions', competition.id, 'results']" class="cs-button">Competitie
                        resultaten</button>
                </li>
                <li>
                    <a *ngIf="competition && competition?.participantsList"
                        [routerLink]="[ '/', 'participantlists', competition.participantsList?.id || -1]"
                        class="cs-button" aria-current="page">Deelnemerslijst beheren</a>
                </li>

                <li>
                    <button (click)="editCompetitionOpen()" class="cs-button" aria-current="page">Eigenschappen</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="cs-card error" *ngIf="errorMessage">
    <div class="cs-heading h1">Er is iets niet goed gegaan...</div>
    <p>{{errorMessage}}</p>
</div>

<form class="cs-card modal" [ngClass]="{'form-open': editCompetition, 'form-closed': !editCompetition}">
    <div *ngIf="editCompetition">
        <app-edit-competition-metadata [competitionId]="editCompetition.id" (onError)="editCompetitionError($event)"
            (onClose)="editCompetitionClose()"></app-edit-competition-metadata>
    </div>
</form>

<form class="cs-card modal" [ngClass]="{'form-open': match, 'form-closed': !match}">
    <div *ngIf="match">
        <app-edit-match-metadata [competitionId]="competitionId" [matchId]="match!.id"
            (onError)="editMatchError($event)" (onClose)="editMatchClose()"></app-edit-match-metadata>
    </div>
</form>

<div class="cs-card" *ngIf="competition">
    <h1 class="cs-card-header">Wedstrijden voor {{competition.name}}</h1>
    <table class="cs-table">
        <thead>
            <tr>
                <th class="w-8 text-center">Actief?</th>
                <th class="w-32">Code</th>
                <th class="flex-grow">Naam</th>
                <th class="w-40">Type</th>
                <th class="w-40">Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of competition.matches">
                <td class="w-8 text-center"><span *ngIf="match.isActive">&#x2714;</span></td>
                <td class="w-32 cursor-pointer" [routerLink]="['/', 'matches', match.id]">{{match.matchCode}}</td>
                <td class="flex-grow cursor-pointer" [routerLink]="['/', 'matches', match.id]">{{match.matchName}}</td>
                <td class="w-40">{{match.rulesetCode}}</td>
                <td class="w-40">
                    <div class="flex flex-row"> <app-control-dropdown-button>
                            <button [routerLink]="['/', 'matches', match.id]" class="cs-button">Open wedstrijd</button>
                            <button [routerLink]="['/', 'matches', match.id, 'results']" class="cs-button">Wedstrijd
                                resultaten</button>
                            <button (click)="setActiveMatch(match)" class="cs-button">Maak actief</button>
                            <button (click)="editMatch(match)"
                                class="cs-button">Eigenschappen</button></app-control-dropdown-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>